<li id="userInfoItem" class="" style="display: none" data-action="sub-toggle" sub-align="right" >
    <a href="javascript:void(0);" ><%= title %></a>
                                
   <div class="supsing-sub supsing-sub-modal" >
        <div class="sub-inner bg-white" style="width: 200px; padding: 20px" >
        <%- body %>
        </div>
    </div>
</li>